*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
.env.local
.venv/
00-history/
archive/
$null
debug.keystore
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.log
.cron_log
dist/
node_modules/
*.db
